<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>RhythmInfluencer</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.maartenrenckens.RhythmInfluencer</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>RhythmInfluencer</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleShortVersionString</key>
	<string>1.4</string>
	<key>UpdateFeedURL</key>
	<string>https://github.com/Artengar/Glyphs_Plugins/blob/master/Rhythm_Influencer/RhythmInfluencer.glyphsPlugin/Contents/Info.plist</string>
	<key>productPageURL</key>
	<string>http://artengar.com/pages/rhythm_influencer.html</string>
	<key>productReleaseNotes</key>
	<string>Smaller bug fixes</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright, Maarten Renckens, 2020-</string>
	<key>NSPrincipalClass</key>
	<string>RhythmInfluencer</string>
	<key>PyMainFileNames</key>
	<array>
		<string>../MacOS/main.py</string>
	</array>
</dict>
</plist>
